*,
 ::after,
 ::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 4px 0;
}

pre {
    display: block;
    padding: .2rem .4rem !important;
    font-size: 90%;
    background-color: #f8f9fa;
    border: 1px solid rgb(209, 209, 209) !important;
    border-radius: .25rem;
    margin: 12px 0;
    max-height: 600px;
    overflow: auto;
}

pre code {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border: none;
}

.wrapper {
    position: relative;
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    min-width: 100px;
    margin: 1rem 0 1.5rem;
}